_config.js

typings/

public/app/**/*.js
public/**/*.map
public/**/*.css

# deprecated code for reference
public/legacy

*.log
npm-debug.log*

# Build output directory
built

# Dependency directory
node_modules
