<div *ngIf="user">
  <img *ngIf="user.images && user.images[0]" alt="Profile Picture"
    src="{{user.images[0].url}}"
    height="50"
    width="50"/>

  <!-- Single button -->
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{user.display_name}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <!-- <li role="separator" class="divider"></li> -->
      <li><a (click)="spotifyApi.logout()">Logout</a></li>
    </ul>
  </div>

</div>
