<a *ngIf="!user" href="/spotify/authorize">Authorize Spotify</a>

<div *ngIf="user">
	<!-- <h3>Logged in as {{user.display_name || 'null'}}</h3> -->


	<div class="user-card">
		<figure>
			<img src="{{user.images[0].url}}"/>
		</figure>
		<div class="info">
			<h3>{{user.display_name}}</h3>
			<small>{{user.id}}</small>
			<a href="{{user.external_urls.spotify}}">On Spotify</a>
		</div>
	</div>

	<a *ngIf="!playlists" (click)="_spotifyUserService.getPlaylists()">Get Playlists</a>
	<div *ngIf="playlists" class="user-playlists">
		<h3>Playlists</h3>
		<ul>
			<li *ngFor="let plist of playlists">
				<!-- <playlist-list-item [playlist]="plist"></playlist-list-item> -->
			</li>
		</ul>
	</div>
</div>
