:host
    display: block;
    position: relative;
    height: 100%;

.panel-position
    position: relative;
    height: 100%;

    .panel
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        
