<div class="panel-position col-xs-6 col-xs-offset-3">

  <div class="panel panel-default">
    <div class="panel-body">
      <h1>Spotify Timeline</h1>
      <p>
        A web app that takes your Spotify account and creates a timeline of all your songs, when they were added and attempts to make playlists or 'eras' of your music listening history.
      </p>
      <strong>Login to your account:</strong>
      <a class="btn btn-success" (click)="spotifyApi.redirectToSpotifyLogin()">Login</a>
    </div>
  </div>

</div>
