
<div class="panel-position col-xs-12">
  <div class="panel panel-defalut">
    <div class="panel-body col-xs-8">
      <h1>Spotify Timeline</h1>
      <p>
        A web app that takes your Spotify account and creates a timeline of all your songs, when they were added and attempts to make playlists or 'eras' of your music listening history.
      </p>
    </div>
    <div class="panel-body col-xs-4">
      <a class="btn btn-success btn-block" (click)="spotifyApi.redirectToSpotifyLogin()">Login With Spotify</a>
    </div>
  </div>
</div>
