<h3>Now Playing</h3>

<div *ngIf="!track">No Track Found.</div>

<table *ngIf="track">

	<tr>
		<th>Play</th>
		<td>
			<div [style.height.px]="80" [style.width.px]="320" [style.overflow]="'hidden'">
				<iframe [src]="track.uri | embed_uri" width="320" height="80" frameborder="0" allowtransparency="true"></iframe>
			</div>
		</td>
	</tr>

	<tr>
		<th>Name</th>
		<td><a href="{{track.external_urls.spotify}}">{{track.name}}</a></td>
	</tr>

	<tr>
		<th>Artists</th>
		<td>
			<artist *ngFor="let artist of track.artists" [artist]="artist"></artist>
		</td>
	</tr>

	<tr>
		<th>Album</th>
		<td>
			<album [album]="track.album"></album>
		</td>
	</tr>



	<tr>
		<th>Duration</th>
		<td>
			{{track.duration_ms | duration}}
		</td>
	</tr>

	<tr>
		<th>Explicit</th>
		<td>
			<pre>{{(track.explicit) ? 'Explicit' : 'Clean'}}</pre>
		</td>
	</tr>


	<!-- <tr>
		<th>Spotify URI</th>
		<td>
			<pre>{{(track.external_urls) ? (track.external_urls.spotify) : 'null'}}</pre>
		</td>
	</tr> -->





	<tr>
		<th>Is Playable</th>
		<td><pre>{{(track.is_playable) ? 'Playable' : 'Not Playable'}}</pre></td>
	</tr>



	<tr>
		<th>Popularity</th>
		<td><pre>{{track.popularity || 'null'}}</pre></td>
	</tr>

	<!-- <tr>
		<th>Preview URL</th>
		<td>
			<audio controls>
				<source src="{{track.preview_url}}" type="audio/mpeg">
				Your browser does not support the audio element.
			</audio>
		</td>
	</tr> -->



	<tr>
		<th>Id</th>
		<td><pre>{{track.id || 'null'}}</pre></td>
	</tr>

	<tr>
		<th>spotify URI</th>
		<td><pre>{{track.uri || 'null'}}</pre></td>
	</tr>

	<tr>
		<th>Link</th>
		<td>
			<pre>{{track.href || 'null'}}</pre>
		</td>
	</tr>

</table>
