<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">


    <div class="navbar-left">

      <ul class="nav navbar-nav">
        <li>
          <h1>
            <a href="/">Timeline</a>
            <small><app-version></app-version></small>
          </h1>
        </li>
      </ul>


    </div>
    <div class="navbar-right">
      <ul class="nav navbar-nav">
        <li class="dropdown"><mini-user></mini-user></li>
      </ul>
    </div>



  </div>
</header>

<section class="main clearfix">

  <div class="col-xs-8">
    <!-- {{(tracks) ? tracks.length : '--'}} groups.
    {{(tracks && tracks[0]) ? tracks[0].length : '--'}} tracks. -->
    <ul class="list-group" *ngFor="let group of tracks">
      <li class="list-group-item clearfix" *ngFor="let track of group" (click)="selectTrack(track)">
        <div class="col-xs-9">
          {{track.name}} - {{(track.artists) ? track.artists[0] : null}}
        </div>
        <div class="col-xs-3">
          {{track.date_added | date}}
        </div>
      </li>
    </ul>
  </div>


  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <button type="button" class="btn btn-success disabled" *ngIf="timelineGenerated"
          (click)="generateTimeline()">Timeline Generated</button>
        <button type="button" class="btn btn-success" *ngIf="!timelineGenerated"
          (click)="generateTimeline()">Generate Timeline</button>
        <button type="button" class="btn btn-default" *ngIf="timelineGenerated && !tracksGrouped"
          (click)="groupTracks()">Group Tracks</button>
        <button type="button" class="btn btn-default disabled" *ngIf="timelineGenerated && tracksGrouped"
          (click)="groupTracks()">Tracks Grouped</button>
        <button type="button" class="btn btn-default" *ngIf="timelineGenerated"
          (click)="resetTimeline()">Reset Timeline</button>
      </div>
    </div>
  </div>


  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="player-frame">
          <iframe id="spotifyPlayer" frameborder="0" allowtransparency="true" width="250" height="80"></iframe>
        </div>
      </div>
    </div>
  </div>


</section>
