<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="navbar-left">
      <ul class="nav navbar-nav">
        <li>
          <h1>
            <a href="/">Timeline</a>
            <small><app-version></app-version></small>
          </h1>
        </li>
      </ul>
    </div>

    <div class="navbar-right">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <mini-user></mini-user>
        </li>
      </ul>
    </div>

  </div>
</header>





<section class="main clearfix">


  <!-- Timeline empty state -->
  <div class="col-xs-8">

    <!-- list -->
    <list>
      <ul class="list-group" *ngFor="let group of timeline?.groups">
        <li class="list-group-item clearfix" *ngFor="let track of group" (click)="selectTrack(track)">
          <div class="col-xs-9">
            <span></span>
            <span class="track-name">{{track.name}}</span>
            <span class="artist-name">{{(track.artists) ? (' - ' + track.artists[0]) : null}}</span>
          </div>
          <div class="col-xs-3 date-label">
            {{track.date_added | date}}
          </div>
        </li>
      </ul>
    </list>

  </div>


  <div class="col-xs-4 pull-right">

    <!-- Track Preview -->
    <div class="panel panel-default">
      <div class="panel-body" [class.hidden]="!selectedTrack">
        <div class="player-frame">
          <iframe id="spotifyPlayer" frameborder="0" allowtransparency="true" width="250" height="80"></iframe>
        </div>
        <pre>{{selectedTrackJSON | json}}</pre>
      </div>

      <div class="panel-body" [class.hidden]="selectedTrack">
        <div class="empty">
          Click on a track to preview it here.
        </div>
      </div>
    </div>



    <!-- Configure Timeline Generation UI -->
    <div class="panel panel-default">
      <div class="panel-body">

        <h3>Proximity</h3>

        <div class="row proximity">
          <div class="form-group col-xs-6">
            <label class="sr-only" for="proximityThreshold">Threshold</label>
            <input type="number" class="form-control" id="proximityThreshold" [(ngModel)]="proximityThreshold">
          </div>

          <div class="form-group col-xs-6">
            <label class="sr-only" for="proximityUnit">Unit</label>
            <select class="form-control" [(ngModel)]="proximityUnit" id="proximityUnit">
              <option value="days">days</option>
            </select>
          </div>
        </div>


        <button type="button" class="btn btn-success" (click)="generateTimeline()">Change Grouping</button>
      </div>
    </div>
  </div>
</section>
