:host
    display: block;

Height = 50px;

.page-header
    position: relative;
    margin: 0;
    padding: 15px 0;
    > *
        height: Height;

h1
    margin: 0;
    height: Height;
    line-height: Height;

/deep/ a:hover
    text-decoration: none;
