:host
    display: block;

Height = 50px;



h1,
app-version
    margin: 0;
    height: Height;
    line-height: Height;

/deep/ a:hover
    text-decoration: none;

.main
    margin-top: Height;
    padding-top: 15px;

h1
    small
        font-size: 10px;
h3
    margin-top: 0;

pre
    font-size: 0.7em;

.btn-group-vertical
    width: 100%;

.list-group
    &:not(:last-child)
        margin-bottom: 20px;


.panel-heading
    color: #777;

.panel-body
    .btn
        width: 100%;
        &:not(:last-child)
            margin-bottom: 10px;

.player-frame
    overflow-x: auto;

.track-name
    font-size: 1em;
    font-weight: bold;

.artist-name
    font-size: 0.8em;
    font-weight: 200;
    color: #999;

.date-label
    font-size: 0.8em;
    font-weight: 200;
    color: #bbb;
    position: relative;
    top: 3px;

.hidden
    display:none;

.proximity .form-group:not(:first-child) {
    padding-left: 0;
}
